{% extends 'base.html.twig' %}

{% block content %}

  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span8 offset2">
        <div class="widget ">
          <div class="widget-header">
            <i class="icon-plus"></i>
            <h3>Registrar Moto</h3>

          {% if app.user.tipo == "Administrador" %}
            <button type="button" class="btn btn-danger" id="btnEliminar" 
              style="float: right; margin: 6px 6px 0 0">
              <a href="{{ path('usuario_eliminar', { 'id': id }) }}" hidden></a>
              Eliminar
            </button>
          {% endif %}

          </div>
          <div class="widget-content">

            {{ include("usuario/widgets/usuario_form.html.twig", {'form': form}) }}

          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
<script>
$( document ).ready(function() {
  $("#user_form_username")[0].disabled = true;
  
{% if app.user.tipo == "Administrador" %}
  var value = $("#btnEliminar")[0];

  value.onclick = function(e){
    console.log(e.target.firstElementChild.href);
    if (confirm("Desea Eliminar?"))
    {
      window.location.replace(e.target.firstElementChild.href);
    }
  }
{% else %}
  $("#user_form_tipo")[0].disabled = true;
{% endif %}

  $("#form_usuario").submit(function(e){
    $("#user_form_username")[0].disabled = false;
    $("#user_form_tipo")[0].disabled = false;
    return true;
  }); 

});
</script>
{% endblock %}