{% extends 'base.html.twig' %}

{% block content %}

  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span8 offset2">

        <div class="widget ">
          <div class="widget-header">
            <i class="icon-plus"></i>
            <h3>Registrar Usuario</h3>
          </div>

          <div class="widget-content">
            {{ include("usuario/widgets/usuario_form.html.twig", {'form': form}) }}
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
