{% extends 'base.html.twig' %}

{% block title %} Usuarios {% endblock %}

{% block css %}
  <link href="{{ asset('css/widget-form-buscar.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}

  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span10 offset1">
          <div class="widget widget-table action-table">
            <div class="widget-header">
              {{ include("layouts/header_list.html.twig",
                { 'titulo': 'Lista de Usuarios', 'path_form': path('usuario_list'),
                  'path_crear': path('usuario_crear'), 'busqueda': busqueda, 
                  'ayuda': 'Nombres' }) }}
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              {{ include("usuario/widgets/usuario_list.html.twig", {'usuarios': usuarios }) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
<script type="text/javascript">

$( document ).ready(function() {
  var value = $("[name='btnEliminar']");

  value.each(function(element, index){
    index.onclick = function (e){
      var query = window.location.search.substring();
      var baseURL = e.target.baseURI.replace(query, "");
      var url = baseURL + "/eliminar/" + e.target.firstElementChild.value;

      console.log(url);
      if (confirm("Desea eliminar la Selección"))
      {
        $.get( url, function( data ) {
          window.location.replace(e.target.baseURI);
        });
      }
    };
  });

});

</script>
{% endblock %}