{% extends 'base.html.twig' %}

{% block content %}

  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span8 offset2">
        <div class="widget ">
          <div class="widget-header">
            <i class="icon-plus"></i>
            <h3>Registrar Reparación</h3>

          {% if app.user.tipo == "Administrador" %}
            <button type="button" class="btn btn-danger" id="btnEliminar" 
              style="float: right; margin: 6px 6px 0 0">
              <a href="{{ path('reparacion_eliminar', { 'id': id }) }}" hidden></a>
              Eliminar
            </button>
          {% endif %}

          </div>
          <div class="widget-content">
          {{ include("reparacion/widgets/reparacion_form.html.twig", {'form': form, 'user': app.user}) }}
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
<script>

$( document ).ready(function() {
  $("#reparacion_form_placa")[0].disabled = true;
  $("#algo")[0].childNodes[2].textContent = null;
  
{% if app.user.tipo == "Administrador" %}
  var value = $("#btnEliminar")[0];
  value.onclick = function(e){
    console.log(e.target.firstElementChild.href);
    if (confirm("Desea Eliminar?"))
    {
      window.location.replace(e.target.firstElementChild.href);
    }
  }
{% else %}
  $("#reparacion_form_estado").val("Entregado");
{% endif %}
  
  $("#form_reparacion").submit(function(e){
    $("#reparacion_form_placa")[0].disabled = false;
    return true;
  }); 

});
</script>
{% endblock %}
